body {
    margin: 50px;
}

#content_wrapper {
    margin-top: 20px;
}

#search_panel {
    width: 500px;
    float: left;
    padding: 0 20px;
}

#search_result_wrapper {
    float: left;
    margin-left: 40px;
}

#advanceSearch, #facetedSearch {
    padding: 20px 0;
}

.center {
    margin-left:auto;
    margin-right:0;
    display: block
}
#facetedSearch {
    display:block;
    height:80px;
}

#facetedSearch .form-group, #facetedSearch .dropdown {
    display: inline-block;
}

#keyword {
    width: 300px;
}

#search_result {
    width: 700px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.selected {
    font-size: larger;
    font-weight: bold;
}

.panel-body .list-group-item:first-child{
    border-radius: 0;
}

.panel-collapse .panel-body {
    padding: 0;
}
.panel-body .list-group {
    margin-bottom: 0;
}
.panel-body .list-group .list-group-item {
    border: none;
}

.sort_by {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.sort_by .active{
    color: #2A9FD6;
}

.pager {
    margin-top: 0;
    margin-bottom: 5px;
}

.panel-title > small{
    color: #999;
}
.nav_pager{
    margin: 5px;
}
.dl-horizontal dd{
    margin-left: 220px;
}
.dl-horizontal dt {
    width : 200px;
}
.pagebox {
    width: 70px;
    display: inline-block;
}